<div class="layout-container" ng-controller="CallBackCtrl">
    <div class="page-container bg-blue-grey-900">
      <div class="container-full">
        <div class="container container-xs">
          
          <form id="user-lock" name="loginForm" novalidate="" class="card form-validate">
            <div class="card-heading">
              <p class="text-center">Please wait while we redirect you.</p>
            </div>
            <div class="card-offset pb0">
              <div class="card-offset-item text-right ng-fadeInLeftShort">
                <button type="submit" class="btn btn-success btn-circle btn-lg"><em class="ion-checkmark-round"></em></button>
              </div>
            </div>
           
          </form>
        </div>
      </div>
    </div>
  </div>