
<div class="card" ng-controller="CaseCtrl">
        <div class="card-heading">
            <h5>Case Cost Summary</h5>
            <small>**Defaults are National, and Hospital Setting</small>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="pull-left">
                    <label>Select Location:</label>
                    <select ng-model="GPCI" class="form-control" ng-change="onLocaleChange()">
                        <option ng-repeat="Locale in GPCILocality">{{Locale.LocalName}}</option>
                    </select>
                </div>
                <div class="pull-right">
                    <label>Select Treatment Setting:</label>
                    <select ng-model="TreatmentSetting" class="form-control" ng-change="onSettingsChange()">
                        <option>Hospital</option>
                        <option>Global</option>
                        <option>Professional</option>
                        <option>Technical</option>
                    </select>
                </div>
            </div>
            <div class="mv-lg"></div>
            <div class="row" style="overflow:auto; height:500px;">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>CPT Code</th>
                            <th>Increase/Decrease</th>
                            <th>Number of Treatments</th>
                            <th>Treatment Cost</th>
                            <th>{{CaseSummaryRequest.treatment_setting}} Payment Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="Case in CaseSummary">
                            <td>{{Case.cpt_code}}</td>
                            <td>
                                <button type="button" ng-click="toggleTreatmentAmount($index,'plus')" class="btn btn-circle btn-sm btn-success ripple">
                                    <em class="ion-plus-round"></em>
                                </button>
                                <button type="button" ng-click="toggleTreatmentAmount($index,'minus')" class="btn btn-circle btn-sm btn-danger ripple">
                                    <em class="ion-minus-round"></em>
                                </button>
                            </td>
                            <td>{{Case.number_of_treatments}}</td>
                            <td>{{Case.treatment_cost | currency : "$" : 2}}</td>
                            <td>{{Case.payment_rate | currency : "$" : 2}}</td>
                        </tr>
                        <tr>
                            <td>Total Treatment Cost: {{TotalTreatmentCost | currency : "$" : 2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>