<div class="card" ng-controller="InvalidSubscriptionCtrl">
    <div class="card-body">
        <div class="text-center pb-lg">
            <h3 class="text-bold">Your Subscription Is Currently Invalid</h3>
            <p class="text-muted">Your Emedicodes subscription may have expired, or there may be an error in our system. Here are your options.</p>
            <br>
            <button type="button" ng-click="contactSupport()" class="btn btn-info">Contact Billing Support</button>
            <button type="button" ng-click="goToPayment()" class="btn btn-info">Renew Subscription</button>
        </div>
    </div>
</div>